@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Poppins", serif !important;
}

main {
  flex: 1 0 auto;
}

/* nav */
header {
  align-items: center;
  display: flex;
  font-size: 16px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}

header:before {
  background: #ffffff;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
nav {
  border-bottom: 2px solid #000000 !important;
}

.nav-extended,
.nav-header {
  background: #ffffff !important;
}

.nav-wrapper {
  margin-top: 2.5em;
}

.nav-wrapper a {
  letter-spacing: 0.15em !important;
  font-family: "Poppins", monospace !important;
}

.header-title {
  font-family: "Poppins", monospace !important;
  font-weight: bold !important;
  font-size: 2em !important;
  color: #000000 !important;
  letter-spacing: 00.15em !important;
}

.tag-title {
  font-family: "Source Code Pro", monospace !important;
  font-weight: bold !important;
  font-size: 0.875em !important;
}

.link {
  letter-spacing: 0.15em;
  color: #000000;
  transition: 0.5s;
  padding-top: 0.25% !important;
  padding-bottom: 0.25% !important;
}

.link:hover {
  background: #EEB21B !important;
}

.link a {
  color: #000000;
}

.link:hover,
.link:hover a,
.link:hover .material-icons {
  color: #ffffff !important;
}


/* social icons */
.fa-github,
.fa-linkedin {
  font-size: 2em;
  color: #000000;
}

.fa-github:hover,
.fa-linkedin:hover {
  color: #EEB21B;
}

.social-icon {
  color: #000000;
}

.back-btn {
  top: 2.5% !important;
  margin-top: 0px !important;
  padding: 1% !important;
  color: #ffffff !important;
  transition: 0.5s all;
}

.back-btn:hover {
  background: #ffffff !important;
  color: #EEB21B !important;
}

/* cards */
.gallery-curve-wrapper {
  border: 2px solid #000000 !important;
}

.card-tag {
  font-family: "Source Code Pro", monospace !important;
  font-size: 0.875em !important;
  font-weight: bold;
  letter-spacing: 0.05em !important;
}

.card-title {
  font-size: 1.15em;
  font-family: "Poppins", serif !important;
  font-weight: bold;
  border-bottom: #EEB21B 2px solid;
}

.card-time {
  color: #333 !important;
  font-family: "Source Code Pro", monospace !important;
  font-size: 0.75em !important;
  font-weight: bold;
  letter-spacing: 0.05em !important;
  letter-spacing: 0.05em;
  margin-left: 0 !important;
}

/* materialize */
.material-icons {
  display: inline-flex;
  vertical-align: sub;
  font-weight: bold !important;
  transition: 0.3s all !important;
}

.card-time .material-icons {
  color: #EEB21B !important;
  margin-right: 00.5em !important;
  margin-left: 00.5em !important;
}

.no-padding-top {
  padding-top: 0px !important;
  margin-top: 0px !important;
}

/* form */
input {
  width: 100%;
  padding: 16px 20px;
  margin: 16px 16px;
  box-sizing: border-box;
  font-family: "Poppins", monospace !important;
  font-size: 1.5em;
  outline: none;
  color: #000000 !important;
}

.input-field input {
  border-bottom: 2px solid #000000 !important;
}

.input-field input::placeholder {
  color: #000000 !important;
  opacity: 1; /* Firefox */
}

.input-field input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000000 !important;
}

.input-field input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000000 !important;
}

.input-field input + label {
  color: #000000 !important;
}

.input-field input:focus + label {
  color: #EEB21B !important;
  font-family: "Poppins", monospace !important;
}

.row .input-field input:focus {
  border-bottom: 1px solid #EEB21B !important;
  box-shadow: 0 1px 0 0 #EEB21B !important;
}

.form-button {
  background: #EEB21B !important;
  font-family: "Poppins", monospace !important;
  padding: 1.5%;
  color: #333 !important;
  margin-bottom: 2.5% !important;
}

.form-button:hover {
  background: transparent !important;
  border: 2px solid #000000;
  cursor: pointer;
}

/* snackbar */
#toast-container {
  right: 10% !important;
  bottom: 10% !important;
  top: auto !important;
  left: auto !important;
  background: transparent !important;
  max-width: 45%; 
}

#toast-container .toast {
  background: transparent !important;
  color: #333 !important;
  border: 2px solid #000000;
}

/* content */
.content {
  font-family: "Poppins", monospace;
  font-size: 1.1em !important;
  line-height: 0.25em;
}