@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;1,200&display=swap");

.header-title,
.header-subtitle,
.logo-text,
.sub-text {
  color: #ffb140;
  font-family: "Source Code Pro", monospace !important;
}

.link {
  margin-top: 2.5%;
}

input {
  width: 100%;
  padding: 16px 20px;
  margin: 16px 16px;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  font-size: 1.5em;
  outline: none;
}

.input-field input {
  border-bottom: 2px solid #f4f4f4 !important;
}

.input-field input + label {
  color: #f4f4f4 !important;
}

.input-field input:focus + label {
  color: #ffb140 !important;
  font-family: "Source Code Pro", monospace !important;
}

.row .input-field input:focus {
  border-bottom: 1px solid #ffb140 !important;
  box-shadow: 0 1px 0 0 #ffb140 !important;
}

button {
  background: #ffb140 !important;
  font-family: "Source Code Pro", monospace !important;
  padding: 1.5%;
  color: #333333 !important;
  margin-bottom: 2.5% !important;
}

/* Alert */
#toast-container {
  top: 10% !important;
  left: 45% !important;
  bottom: auto !important;
  right: auto !important;
  background: transparent !important;
}

#toast-container .toast {
  background: #ffb140 !important;
  color: #f4f4f4 !important;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
}
