@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap");

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  align-items: center;
  display: flex;
  font-size: 16px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}

header:before {
  background: #346873;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.header-title,
.header-subtitle,
.logo-text,
.sub-text,
link {
  color: #ced375;
  font-family: "Fira Code", monospace !important;
}

.sub-text {
  letter-spacing: 0.1em;
  font-size: 1.5em;
  color: #f4f4f4;
}

.link {
  letter-spacing: 0.15em;
  color: #f4f4f4;
}

.link:hover {
  text-transform: lowercase;
  text-decoration: underline;
  text-decoration-color: #ced375;
  text-decoration-thickness: 5px;
}

.nav-wrapper {
  margin-top: 2.5em;
}

.nav-wrapper a {
  font-family: "Fira Code", monospace !important;
}

.fa-instagram,
.fa-twitter {
  font-size: 2em;
  color: #333;
}

.fa-instagram:hover,
.fa-twitter:hover {
  color: purple;
}

.social-icon {
  color: #333;
}

#toast-container {
  top: 10% !important;
  left: 45% !important;
  bottom: auto !important;
  right: auto !important;
  background: transparent !important;
}

#toast-container .toast {
  background: #ced375 !important;
  color: #f4f4f4 !important;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
  color: #ced375 !important;
}
