@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}

header:before {
  background-image: linear-gradient(to top, #f4f4f4, #bfbfbf, #8d8d8d, #5e5e5e, #333333);
  background-size: cover;
  content: "";
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}

.header-title, .header-subtitle, .logo-text, .sub-text, link {
  color: #fff;
}

.header-subtitle {
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.sub-text {
    font-family: 'Amatic SC', cursive;
    letter-spacing: 0.1em;
    font-size: 1.5em;
    color: #f4f4f4;
}

.link {
    letter-spacing: 0.15em;
    color: white;
}

.link:hover {
    color: purple;
}

.nav-wrapper {
     margin-top: 2.5em;
}

.fa-instagram, .fa-twitter {
    font-size: 2em;
    color: #333;
}

.fa-instagram:hover, .fa-twitter:hover {
    color: purple;
}

.social-icon {
  color: #333;
}
