@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;1,200&display=swap");

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  align-items: center;
  display: flex;
  font-size: 16px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}

header:before {
  background: #7776bc;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.header-title,
.header-subtitle,
.logo-text,
.sub-text,
link {
  color: #ffb140;
  font-family: "Source Code Pro", monospace !important;
}

.sub-text {
  letter-spacing: 0.1em;
  font-size: 1em;
  color: #f4f4f4;
}

.links-wrapper {
  padding-left: 25%;
  margin-top: 2.5%;
}

.link {
  letter-spacing: 0.15em;
  color: #f4f4f4;
  transition: 0.5s;
}

.link:hover {
  text-transform: lowercase;
  color: #ffb140;
}

.nav-wrapper {
  margin-top: 2.5em;
}

.nav-wrapper a {
  font-family: "Source Code Pro", monospace !important;
}

.fa-instagram,
.fa-twitter {
  font-size: 2em;
  color: #333;
}

.fa-instagram:hover,
.fa-twitter:hover {
  color: purple;
}

.social-icon {
  color: #333;
}

/* Alert */
#toast-container {
  top: 15% !important;
  left: 45% !important;
  bottom: auto !important;
  right: auto !important;
  background: transparent !important;
}

#toast-container .toast {
  background: #ffb140 !important;
  color: #f4f4f4 !important;
}
