@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;1,200&display=swap");

.nav-extended,
.nav-header {
  background: #291528 !important;
}

.header-title,
.header-subtitle,
.logo-text,
.sub-text,
.link {
  color: #ffb140 !important;
  font-family: "Source Code Pro", monospace !important;
}

.sub-text {
  font-family: "Source Code Pro", monospace;
  color: #f4f4f4 !important;
  letter-spacing: 0.1em;
  font-size: 1em;
}

.link {
  letter-spacing: 0.1em;
}

.sidenav-trigger,
.link a {
  color: #ffb140 !important;
}

.tag-text {
  color: #333;
  letter-spacing: 0.1em;
  font-family: "Amatic SC", cursive;
}

.tag-text:hover {
  cursor: pointer;
  color: purple;
}

.fa-instagram,
.fa-twitter {
  font-size: 2em;
  color: #333;
}

.fa-instagram:hover,
.fa-twitter:hover {
  color: purple;
}

/* Alert */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #f4f4f4; /* Black background color */
  color: #713b58; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 30px; /* 30px from the bottom */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.social-icon {
  color: #333;
}

p,
.content {
  font-family: "Source Code Pro", monospace;
  letter-spacing: 1.1px !important;
  font-size: 1.15em !important;
}
