@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;1,200&display=swap");

.nav-extended,
.nav-header {
  background: #7776bc !important;
}

.header-title,
.header-subtitle,
.logo-text,
.sub-text {
  color: #ffb140 !important;
  font-family: "Source Code Pro", monospace !important;
}

.link {
  color: #f4f4f4 !important;
  font-family: "Source Code Pro", monospace !important;
}

.card-title {
  font-size: 1.5em;
  font-family: "Source Code Pro", monospace !important;
  border-bottom: #ffb140 2px solid;
}

.time {
  color: #ffb140 !important;
  font-family: "Source Code Pro", monospace !important;
  font-size: 0.5em !important;
  letter-spacing: 0.1em;
}

.sub-text {
  font-family: "Source Code Pro", monospace;
  color: #f4f4f4 !important;
  letter-spacing: 0.1em;
  font-size: 1em;
}

.link {
  letter-spacing: 0.1em;
}

.sidenav-trigger,
.link a {
  color: #ffb140 !important;
}

.tag-text {
  color: #333;
  letter-spacing: 0.1em;
  font-family: "Amatic SC", cursive;
}

.tag-text:hover {
  cursor: pointer;
  color: purple;
}

.fa-instagram,
.fa-twitter {
  font-size: 2em;
  color: #333;
}

.fa-instagram:hover,
.fa-twitter:hover {
  color: purple;
}

/* Alert */
#toast-container {
  top: 10% !important;
  left: 45% !important;
  bottom: auto !important;
  right: auto !important;
  background: transparent !important;
}

#toast-container .toast {
  background: #ffb140 !important;
  color: #f4f4f4 !important;
}
.material-icons {
  display: inline-flex;
  vertical-align: top;
}
