<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>teret | about</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:300,400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/gallery-materialize.min.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/d11a9ce67f.js"></script>
  </head>
  <body>
    <header>
      <div id="snackbar">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %} {{ message }} {% endfor %} {% endif %} {% endwith
        %}
      </div>
      <section class="header-content valign-wrapper">
        <div class="container">
          <span class="header-title"><h1>ABOUT</h1></span>
          <p class="sub-text">
            I am a back-end developer with strong backgrounds in
            web/API/microservice development, database management, cloud-native
            applications, NLP/ML frameworks, devops / command-line tools,
            managing & extracting meaningful insight from larget datasets, &
            rapid MVP prototyping and development.
          </p>
          <p class="sub-text">
            I am passionate about problem solving & utilizing established and
            emerging technologies to build robust, scalable products.
          </p>
          <div class="container links-wrapper">
            <div class="row center-align">
              <div class="col s12m12l6 link">
                <a href="{{ url_for('base.home') }}" class="center-align link">
                  <span><i class="material-icons">arrow_back</i> HOME</span></a
                >
              </div>
              <div class="col s12m12l6 link">
                <a
                  href="{{ url_for('base.stories') }}"
                  class="center-align link"
                >
                  <span
                    >STORIES <i class="material-icons">arrow_forward</i></span
                  ></a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </header>
    <footer class="page-footer white">
      <div class="footer-copyright white">
        <div class="row">
          <div class="col s6 m6 l6 social-icon">
            <a href="https://www.linkedin.com/in/abmamo">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
          <div class="col s6 m6 l6 social-icon">
            <a href="https://github.com/abmamo">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      // get snackbar
      var snackbar = document.getElementById("snackbar");
      // get message
      var snackbar_message = snackbar.textContent;
      // check if message found
      if (/\S/.test(snackbar_message)) {
        console.log("here");
        // run materialize toast
        M.toast({ html: snackbar_message, classes: "rounded" });
        // remove message
        snackbar.innerHTML = "";
      }
    </script>
  </body>
</html>
