<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>cms</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

  <!-- Stylesheet -->
  <link href="{{ url_for('static', filename='css/gallery-materialize.min.css') }}" rel="stylesheet" />

  <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" />

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body class="blog">
  <!-- nav -->
  <nav class="nav-extended">
    <div class="nav-background">
      <div class="pattern active"></div>
    </div>
    <div class="nav-wrapper container">
      <a href="#" data-target="nav-mobile" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a class="link" href="{{ url_for('cms.editor') }}">EDITOR</a>
        </li>
        <li>
          <a class="link" href="{{ url_for('auth.signout') }}">SIGN OUT</a>
        </li>
      </ul>
      <div id="snackbar">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
          message in messages %} {{ message }} {% endfor %} {% endif %} {%
          endwith %}
      </div>
      <div class="nav-header center white">
        <h1 class="header-title">{{ app_name }}</h1>
      </div>
    </div>

    <!-- tags -->
    <div class="categories-wrapper white darken-1">
      <div class="categories-container">
        <ul class="categories container">
          <li class="active description">
            <a class="black-text tag-title" href="#all">All</a>
          </li>
          {% for tag in tags %}
          <li>
            <a class="tag-title black-text" href="#{{ tag.tags.lower() }}">{{ tag.tags }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- side nav-->
  <ul class="sidenav" id="nav-mobile">
    <li><a href="{{ url_for('cms.editor') }}">EDITOR</a></li>
    <li><a href="{{ url_for('auth.signout') }}">SIGN OUT</a></li>
  </ul>
  <!-- content -->
  <div id="portfolio" class="section gray">
    <div class="container">
      <div class="gallery row">
        {% for story in stories %}
        <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter {{ story.tags.lower() }}">
          <div class="gallery-curve-wrapper">
            <div class="gallery-header">
              <div class="container">
                <div class="row">
                  <span class="card-tag">{{ story.tags }}</span>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <span class="card-title">{{ story.title }}</span>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <span class="card-time"><i class="tiny material-icons">create</i>{{ story.created_on
                    | format_datetime("short") }}</span>
                </div>
                <div class="row">
                  {% if story.published %}
                  <span class="card-time"><i class="tiny material-icons">album</i>{{
                        story.published_on | format_datetime("short") }}</span>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="gallery-body">
              <div class="title-wrapper">
                <div class="container">
                  <div class="row">
                    <span class="card-tag">{{ story.tags }}</span>
                    <span class="card-time"><i class="tiny material-icons">create</i>{{ story.created_on
                      | format_datetime("short") }}</span>
                    {% if story.published %}
                    <span class="card-time"> <i class="tiny material-icons">album</i> {{
                        story.published_on | format_datetime("short") }}</span>
                    {% endif %}

                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <span class="card-title">{{ story.title }}</span>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <p class="description content">
                    {{ story.content | safe }}
                  </p>
                </div>
                <div class="row">
                  <div class="col s12 m12 l3">
                    <form action="{{ url_for('cms.edit', slug = story.slug) }}" method="POST">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                      <button class="btn-floating btn-small waves-effect waves-light blue" value="submit" type="submit"
                        name="submit">
                        <i class="material-icons">mode_edit</i>
                      </button>
                    </form>
                  </div>
                  <div class="col s12 m12 l3">
                    <form action="{{ url_for('cms.delete', slug = story.slug) }}" method="POST">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                      <button class="btn-floating btn-small waves-effect waves-light red" value="submit" type="submit"
                        name="submit">
                        <i class="material-icons">delete</i>
                      </button>
                    </form>
                  </div>
                  <div class="col s12 m12 l3">
                    <form action="{{ url_for('cms.publish', slug = story.slug) }}" method="POST">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                      <button class="btn-floating btn-small waves-effect waves-light green" value="submit" type="submit"
                        name="submit">
                        <i class="material-icons">vertical_align_top</i>
                      </button>
                    </form>
                  </div>
                  <div class="col s12 m12 l3">
                    <form action="{{ url_for('cms.unpublish', slug = story.slug) }}" method="POST">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                      <button class="btn-floating btn-small waves-effect waves-light yellow" value="submit"
                        type="submit" name="submit">
                        <i class="material-icons">vertical_align_bottom</i>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/color-thief.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/galleryExpand.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- alert -->
  <script>
    // get snackbar
    var snackbar = document.getElementById("snackbar");
    // get message
    var snackbar_message = snackbar.textContent;
    // check if message found
    if (/\S/.test(snackbar_message)) {
      // run materialize toast
      M.toast({ html: snackbar_message, classes: "rounded" });
      // remove message
      snackbar.innerHTML = "";
    }
  </script>
</body>

</html>