<!DOCTYPE html>
<html lang="en">

<head>
  <title> editor </title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/3.4.1/paper/bootstrap.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css"
    href="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.css" />
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/blackboard.min.css">
  <link href="{{ url_for('static', filename='summernote/summernote.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/editor.css') }}" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');
  </style>
</head>

<body>
  <div class="container">
    <form method="post" action="{{ url_for('cms.save') }}" enctype=multipart/form-data>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="form-group">
        <label for="title">title</label>
        <input id="title" name="title" type="text" class="form-control" value="{{ story.title }}">
      </div>
      <div class="form-group">
        <label for="title">tags</label>
        <input id="tags" name="tags" type="text" class="form-control" value="{{ story.tags }}">
      </div>
      <div class="form-group">
        <label for="title">image</label>
        <input type="file" name="image" placeholder="file" class="form-control" />
      </div>
      <textarea id="summernote" name="content">{{ story.content }}</textarea>
      <div class="row submit-container">
        <button class="submit-buttom" type="submit" name="action">SAVE</button>
      </div>
    </form>
  </div>
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.min.js"></script>
  <script src="{{ url_for('static', filename='summernote/summernote.js') }}"></script>
  <script>
    var csrftoken = $('meta[name=csrf-token]').attr('content')
    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
      }
    })
  </script>
  <script>
    $('#summernote').summernote({
      height: ($(window).height() - 300),
      fontNames: ["Poppins", "Source Code Pro"],
      fontNamesIgnoreCheck: ["Poppins", "Source Code Pro"],
      fontSizes: ['8', '9', '10', '11', '12', '16', '18', '24', '36', '48', '64', '82', '150'],
      tabsize: 2,
      codemirror: {
        theme: 'blackboard'
      },
      toolbar: [
        // [groupName, [list of button]]
        ['cmds', ['undo', 'redo', 'clear']],
        ['style', ['style']],
        ['font', ['strikethrough', 'superscript', 'subscript']],
        ['fontsize', ['fontsize']],
        ['fontname', ['fontname']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['height', ['height']],
        ['table', ['table']],
        ['insert', ['link', 'picture', 'video']],
        ['view', ['fullscreen', 'codeview', 'help']],
        ['codemirror', ['codemirror']]
      ],
      callbacks: {
        onInit: function () {
          $('.summernote').summernote('codeview.activate');
        },
        onImageUpload: function (image) {
          uploadImage(image[0]);
        }
      }
    });

    function uploadImage(image) {
      var data = new FormData();
      data.append("image", image);
      $.ajax({
        url: "{{ url_for('cms.upload') }}",
        cache: false,
        contentType: false,
        processData: false,
        data: data,
        type: "post",
        success: function (url) {
          var image = $('<img>').attr('src', url);
          $('#summernote').summernote("insertNode", image[0]);
        },
        error: function (data) {
          console.log(data);
        }
      });
    }   
  </script>
</body>

</html>