<!DOCTYPE html>
<html>

<head>
  <title>error</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery-materialize.min.css') }}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/d11a9ce67f.js"></script>
</head>

<body>
  <header>
    <section class="header-content valign-wrapper">
      <div class="container">
        <span class="header-title">
          <h1>{{ status_code }}</h1>
        </span>
        <p class="sub-text">{{ message }}</p>
      </div>
    </section>
  </header>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>