<!DOCTYPE html>
<html>
  <head>
    <title>teret | ተረት</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/landing.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:300,400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/gallery-materialize.min.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/d11a9ce67f.js"></script>
  </head>
  <body>
    <header>
      <div id="snackbar">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %} {{ message }} {% endfor %} {% endif %} {% endwith
        %}
      </div>
      <section class="header-content valign-wrapper">
        <span class="logo-text"><h1>TERET / ተረት</h1></span>
        <div class="tagline">
          <span class="sub-text"> :- stories / thoughts </span>
        </div>

        <div class="row nav-wrapper">
          <div class="row">
            <a href="{{ url_for('base.stories') }}" class="center-align link">
              STORIES</a
            >
          </div>
          <div class="row">
            <a href="{{ url_for('base.about') }}" class="center-align link">
              ABOUT</a
            >
          </div>
        </div>
      </section>
    </header>
    <footer class="page-footer white">
      <div class="footer-copyright white">
        <div class="row">
          <div class="col s6 m6 l6 social-icon">
            <a href="https://www.instagram.com/ab_dreads">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
          <div class="col s6 m6 l6 social-icon">
            <a href="https://twitter.com/abmmamo">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %} {% if message is defined and message|length %}
    <script>
      function showAlert() {
        // Get the snackbar DIV
        var x = document.getElementById("snackbar");

        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function () {
          x.className = x.className.replace("show", "");
        }, 3000);
      }
      window.onload = showAlert;
    </script>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
  </body>
</html>
