<!DOCTYPE html>
<html>
  <head>
    <title>teret | forgot password</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:300,400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/gallery-materialize.min.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/d11a9ce67f.js"></script>
  </head>
  <body>
    <header>
      <section class="header-content valign-wrapper">
        <div class="container">
          <div id="snackbar">
            {% with messages = get_flashed_messages() %} {% if messages %} {%
            for message in messages %} {{ message }} {% endfor %} {% endif %} {%
            endwith %}
          </div>
          <span class="black-text"><h1>RESET PASSWORD</h1></span>
          <div class="container">
            <div class="row">
              <form
                class="col s12"
                method="POST"
                action="{{ url_for('auth.request_reset') }}"
              >
                <input
                  type="hidden"
                  name="csrf_token"
                  value="{{ csrf_token() }}"
                />
                <div class="row">
                  <div class="input-field col s12">
                    <input
                      id="email"
                      name="email"
                      type="text"
                      class="validate description"
                    />
                    <label for="email"><p>email</p></label>
                  </div>
                </div>
                <button
                  class="btn waves-effect waves-light form-button"
                  type="submit"
                  name="action"
                >
                  Request
                </button>
                <div class="row center-align">
                  <a
                    href="{{ url_for('auth.signin') }}"
                    class="center-align link"
                  >
                    <span
                      ><i class="material-icons">add_box</i> SIGN IN</span
                    ></a
                  >
                </div>
                <div class="row center-align">
                  <a
                    href="{{ url_for('auth.signup') }}"
                    class="center-align link"
                  >
                    <span
                      ><i class="material-icons">add_box</i> SIGN UP</span
                    ></a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </header>
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      // get snackbar
      var snackbar = document.getElementById("snackbar");
      // get message
      var snackbar_message = snackbar.textContent;
      // check if message found
      if (/\S/.test(snackbar_message)) {
        console.log("here");
        // run materialize toast
        M.toast({ html: snackbar_message, classes: "rounded" });
        // remove message
        snackbar.innerHTML = "";
      }
    </script>
  </body>
</html>
