name: teret

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.8]

    steps:
      - uses: actions/checkout@v2
      - name: set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: create env file
        uses: SpicyPizza/create-envfile@v1
        with:
          envkey_DOMAIN = "http://localhost:5000"
          envkey_ENVIRONMENT = "testing"
          envkey_MAIL_SERVER = "mail.privateemail.com"
          envkey_MAIL_USERNAME = "info@abmamo.com"
          envkey_MAIL_PASSWORD = "N9dJbqsrcAAGw8z"
          envkey_USER_EMAIL = "major.abenezer@gmail.com"
          envkey_USER_PASSWORD = "testpassword"
          file_name: .env
      - name: test with pytest
        run: |
          python3 -m pytest ./tests
        env:
          DOMAIN: localhost:5000
      - name: push to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          script: |
            cd ${{ secrets.PROJECT_PATH }}
            git pull origin master
            sudo /bin/systemctl restart ${{ secrets.PROJECT_NAME }}
