name: test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v2
      - name: set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: install
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: lint
        run: |
          PYTHONPATH=./app pylint app && PYTHONPATH=./tests pylint tests
      - name: test
        run: |
          sudo apt update
          sudo apt -y upgrade
          sudo apt install -y build-essential libssl-dev libffi-dev python3-dev python3-pip
          python3 -m pytest --cov-report term-missing --cov=./app ./tests -v && rm -f .coverage*
